--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (8f9063c)
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO neondb_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: neondb_owner
--

COMMENT ON SCHEMA public IS '';


--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CREDIT',
    'PROMPTPAY',
    'BANK',
    'CASH'
);


ALTER TYPE public."PaymentMethod" OWNER TO neondb_owner;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'CANCEL',
    'SUCCESS'
);


ALTER TYPE public."PaymentStatus" OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO neondb_owner;

--
-- Name: appointment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appointment (
    id uuid NOT NULL,
    patient_id uuid,
    doctor_id uuid,
    appoint_date timestamp(6) without time zone,
    status text
);


ALTER TABLE public.appointment OWNER TO neondb_owner;

--
-- Name: doctor; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.doctor (
    id uuid NOT NULL,
    specialty text
);


ALTER TABLE public.doctor OWNER TO neondb_owner;

--
-- Name: medical_record; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.medical_record (
    id uuid NOT NULL,
    doctor_id uuid,
    patient_id uuid,
    diagnosis character varying,
    notes character varying,
    "createdAt" integer
);


ALTER TABLE public.medical_record OWNER TO neondb_owner;

--
-- Name: medication; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.medication (
    id uuid NOT NULL,
    name text,
    description text,
    price double precision
);


ALTER TABLE public.medication OWNER TO neondb_owner;

--
-- Name: notification; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.notification (
    id uuid NOT NULL,
    user_id uuid,
    title text,
    message text
);


ALTER TABLE public.notification OWNER TO neondb_owner;

--
-- Name: patient; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.patient (
    id uuid NOT NULL,
    hospital_number text
);


ALTER TABLE public.patient OWNER TO neondb_owner;

--
-- Name: payment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.payment (
    id uuid NOT NULL,
    prescription_id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    method public."PaymentMethod",
    cost double precision
);


ALTER TABLE public.payment OWNER TO neondb_owner;

--
-- Name: prescription; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.prescription (
    id uuid NOT NULL,
    patient_id uuid,
    doctor_id uuid,
    status text,
    created_at timestamp(6) without time zone
);


ALTER TABLE public.prescription OWNER TO neondb_owner;

--
-- Name: prescription_item; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.prescription_item (
    id uuid NOT NULL,
    medication_id uuid,
    amount integer,
    prescription_id uuid
);


ALTER TABLE public.prescription_item OWNER TO neondb_owner;

--
-- Name: refresh_token; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.refresh_token (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    hashed text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    revoked boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.refresh_token OWNER TO neondb_owner;

--
-- Name: schedule; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.schedule (
    id uuid NOT NULL,
    doctor_id uuid,
    timeslot text
);


ALTER TABLE public.schedule OWNER TO neondb_owner;

--
-- Name: tracking; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tracking (
    id uuid NOT NULL,
    prescription_id uuid,
    status text
);


ALTER TABLE public.tracking OWNER TO neondb_owner;

--
-- Name: user; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."user" (
    id uuid NOT NULL,
    password character varying,
    "createdAt" timestamp(6) without time zone,
    role text,
    id_card text NOT NULL,
    username text,
    lastname text,
    name text,
    phone text,
    health_benefits text[]
);


ALTER TABLE public."user" OWNER TO neondb_owner;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: appointment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: doctor; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.doctor (id, specialty) FROM stdin;
8142b6ee-83f2-4b0c-ab81-385a105e86f5	heartbreaker
10fee59e-80b8-419e-95f9-79d0ad91844b	GOD
370917a7-ca5d-4d12-a2ac-fd7a146e273b	newbie
\.


--
-- Data for Name: medical_record; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.medical_record (id, doctor_id, patient_id, diagnosis, notes, "createdAt") FROM stdin;
\.


--
-- Data for Name: medication; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.medication (id, name, description, price) FROM stdin;
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.notification (id, user_id, title, message) FROM stdin;
\.


--
-- Data for Name: patient; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.payment (id, prescription_id, created_at, status, method, cost) FROM stdin;
c45cac25-7d42-45b6-8ad2-94ef45f70b8c	d347440e-f8c7-48a6-9ab1-957c83911f9f	2025-10-10 06:22:20.399051	PENDING	CREDIT	3600
7ff71580-4d83-4bdd-971e-44b7334cabda	342c0273-060b-4cb7-b90b-04ce5d61aa8a	2025-10-10 06:22:25.638523	PENDING	BANK	10000
\.


--
-- Data for Name: prescription; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.prescription (id, patient_id, doctor_id, status, created_at) FROM stdin;
342c0273-060b-4cb7-b90b-04ce5d61aa8a	1ea5fe79-da55-433e-9d25-0954c142d038	8142b6ee-83f2-4b0c-ab81-385a105e86f5	wtf3	2025-10-10 06:21:42.540769
d347440e-f8c7-48a6-9ab1-957c83911f9f	370917a7-ca5d-4d12-a2ac-fd7a146e273b	8142b6ee-83f2-4b0c-ab81-385a105e86f5	wtf3	2025-10-10 06:21:42.540769
\.


--
-- Data for Name: prescription_item; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.prescription_item (id, medication_id, amount, prescription_id) FROM stdin;
\.


--
-- Data for Name: refresh_token; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: schedule; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.schedule (id, doctor_id, timeslot) FROM stdin;
\.


--
-- Data for Name: tracking; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.tracking (id, prescription_id, status) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: appointment appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_pkey PRIMARY KEY (id);


--
-- Name: doctor doctor_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.doctor
    ADD CONSTRAINT doctor_pkey PRIMARY KEY (id);


--
-- Name: medical_record medical_record_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.medical_record
    ADD CONSTRAINT medical_record_pkey PRIMARY KEY (id);


--
-- Name: medication medication_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.medication
    ADD CONSTRAINT medication_pkey PRIMARY KEY (id);


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (id);


--
-- Name: patient patient_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.patient
    ADD CONSTRAINT patient_pkey PRIMARY KEY (id);


--
-- Name: payment payment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_pkey PRIMARY KEY (id);


--
-- Name: prescription_item prescription_item_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.prescription_item
    ADD CONSTRAINT prescription_item_pkey PRIMARY KEY (id);


--
-- Name: prescription prescription_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.prescription
    ADD CONSTRAINT prescription_pkey PRIMARY KEY (id);


--
-- Name: refresh_token refresh_token_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.refresh_token
    ADD CONSTRAINT refresh_token_pkey PRIMARY KEY (id);


--
-- Name: schedule schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT schedule_pkey PRIMARY KEY (id);


--
-- Name: tracking tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tracking
    ADD CONSTRAINT tracking_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: payment_prescription_id_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX payment_prescription_id_key ON public.payment USING btree (prescription_id);


--
-- Name: refresh_token_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "refresh_token_userId_idx" ON public.refresh_token USING btree ("userId");


--
-- Name: refresh_token_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "refresh_token_userId_key" ON public.refresh_token USING btree ("userId");


--
-- Name: user_id_card_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX user_id_card_key ON public."user" USING btree (id_card);


--
-- Name: user_username_unique; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX user_username_unique ON public."user" USING btree (username);


--
-- Name: appointment appointment_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctor(id);


--
-- Name: appointment appointment_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patient(id);


--
-- Name: doctor doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.doctor
    ADD CONSTRAINT doctor_id_fkey FOREIGN KEY (id) REFERENCES public."user"(id);


--
-- Name: medical_record medical_record_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.medical_record
    ADD CONSTRAINT medical_record_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctor(id);


--
-- Name: medical_record medical_record_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.medical_record
    ADD CONSTRAINT medical_record_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patient(id);


--
-- Name: notification notification_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: patient patient_hospital_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.patient
    ADD CONSTRAINT patient_hospital_number_fkey FOREIGN KEY (hospital_number) REFERENCES public."user"(username);


--
-- Name: patient patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.patient
    ADD CONSTRAINT patient_id_fkey FOREIGN KEY (id) REFERENCES public."user"(id);


--
-- Name: payment payment_prescription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES public.prescription(id);


--
-- Name: prescription prescription_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.prescription
    ADD CONSTRAINT prescription_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctor(id);


--
-- Name: prescription_item prescription_item_medication_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.prescription_item
    ADD CONSTRAINT prescription_item_medication_id_fkey FOREIGN KEY (medication_id) REFERENCES public.medication(id);


--
-- Name: prescription_item prescription_item_prescription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.prescription_item
    ADD CONSTRAINT prescription_item_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES public.prescription(id);


--
-- Name: prescription prescription_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.prescription
    ADD CONSTRAINT prescription_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patient(id);


--
-- Name: refresh_token refresh_token_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.refresh_token
    ADD CONSTRAINT "refresh_token_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: schedule schedule_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT schedule_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctor(id);


--
-- Name: tracking tracking_prescription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tracking
    ADD CONSTRAINT tracking_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES public.prescription(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: neondb_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

